.header {
    position: fixed;
    /* Закрепляет элемент */
    top: 0;
    /* Привязывает к верхней границе окна */
    left: 0;
    right:0;
    /* Растягивает по всей ширине */
    width: 100%;
    /* Ширина на всю страницу */
    z-index: 1000;
    /* Устанавливает приоритет поверх других элементов */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    height: 60px;
    /* Фиксированная высота хэдера */
    box-sizing: border-box;
    font-family: 'MontBold';
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.7s;
}

.header-left:hover{
    transform: scale(1.07);
}

.logo-img {
    width: 40px;
    height: 40px;
    display: block;
    /* Убираем лишние отступы */
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    /* Убираем стандартные отступы */
    line-height: 1;
    text-shadow: 1px 1px 4px rgba(48, 48, 48, 0.4);
}

.header-icons {
    display: none;
    align-items: center;
    gap: 16px;
}

.header-icons img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: transform 0.3s;
}

.header-icons img:hover {
    transform: scale(1.1);
}

.desktop-only {
    display: flex;
}

.mobile-only {
    display: none;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Пространство между пунктами меню */
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 22px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.5s;
}

.nav-link:hover {
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color:white;
}

@media (max-width: 750px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        width: 100%;
        padding: 8px 16px;
    }

    .header-left {
        gap: 8px;
    }

    .logo-img {
        width: 32px;
        height: 32px;
    }

    .header-title {
        font-size: 18px;
    }

    .navigation {
        display: none;
    }

    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: flex;
    }

    .header-icons {
        display: flex;
    }
}