.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 40px;
}

.title {
    background-color: #ffd493;
    color: rgb(0, 0, 0);
    padding-top: 30px;
    height:60px;
    text-align: center;
}

.table-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ffb86b;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #ffd79f;
}

.footer {
    background-color: #FF9900;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    margin-top: 60px;
    /* Отступ сверху, равный высоте хедера */
}
.filter-container {
    margin-bottom: 20px;
    margin-left: 50px;
}

#status-filter {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}