<div class="page-container">
    <h1 class="title">Онлайн-очередь</h1>

    <div class="filter-container">
        <label for="status-filter">Фильтр по статусу:</label>
        <select id="status-filter" [(ngModel)]="selectedStatus" (change)="onStatusChange()">
            <option value="all">Все статусы</option>
            <option value="0">Ожидайте</option>
            <option value="1">Поднимайтесь</option>
            <option value="2">Заселяется</option>
            <option value="3">Заселен</option>
        </select>
    </div>

    <main class="table-container">
        <table>
            <thead>
                <tr>
                    <th (click)="sortData('id')">ID</th>
                    <th (click)="sortData('status')">Статус</th>
                    <th (click)="sortData('checkInTime')">Примерное время вызова</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of filteredData; let i = index"
                [ngClass]="{
                    'row-all': row.status != 3,
                    'row-settled': row.status === 3
                    
                }">
                    <td class>{{ row.studentId }}</td>
                    <td>{{ getStatusText(row.status) }}</td>
                    <td>{{ row.callTime ? (row.callTime | date: 'HH:mm:ss') : (row.checkInStart | date: 'HH:mm:ss') }}</td>
                </tr>
            </tbody>
        </table>
    </main>
</div>