

.page-container {
    display: flex;
    flex-direction: column;
    
}

.table-container {
    overflow-x: auto;
    margin-left: 5%;
    margin-right: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    border: 1px solid #ffe4bd;
    padding: 8px;
    text-align: center;
}



th {
    background-color: #ffba71;
}


tr.row-all {
    background-color: #ffffff;
}

tr.row-all:nth-child(even) {
    background-color: #fff1e2;
}

tr.row-settled {
    background-color: #ffdcb9;
}

tr.row-settled:nth-child(even) {
    background-color: #ffd4a6;
}


body {
    margin-top: 60px;
    
    /* Отступ сверху, равный высоте хедера */
}
.filter-container {
    margin-bottom: 20px;
    margin-left: 50px;
}

#status-filter {
    padding: 7px;
    font-size: 16px;
    border-radius: 4px;
    margin-left:10px;
    border: 1px solid #ccc;
    font-family: "MontSemiBold";
}

tr:hover {
    background-color: #ffc281 !important;
}



