.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(255, 153, 0, 0.1);
    background-color: #ffd7ad;
}

.auth-message {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    color: blue;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'MontSemiBold';

}

.btn-submit {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
    transition: transform 0.2s, background-color 0.3s ease;
    display: block;
    border:none;
    text-align: center;
    font-family: 'MontSemiBold';
    background-color: #ffa84a;
    color: #000000;
}
.logout{
    background-color: #ffffff;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

button.btn-submit:hover {
    background-color: #ffc17e;
    transform: scale(1.05);
    }
        @media (max-width: 750px) {
            
        }
