/* You can add global styles to this file, and also import other style files */
/*/@import '~@angular/material/prebuilt-themes/purple-green.css';/*/


html, body { 
  height: 100%; 
  margin: 0;
  padding: 0; 
  background-color: #fff1de;}


@font-face {
  font-family: 'MontReg';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBlack';
  src: url('assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBold';
  src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontSemiBold';
  src: url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  background-color: #ffd7ad;
  color: rgb(0, 0, 0);
  margin-top: 60px;
  padding-bottom: 20px;
  height: 70px;
  text-align: center;
  display:flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
}

body {
    font-family: 'MontSemiBold';
}


@media (max-width: 750px) {
  .title {
    margin-top:48px;
  }
  .title,h1{
    font-size: 24px;
  }
}


