/* You can add global styles to this file, and also import other style files */
/*/@import '~@angular/material/prebuilt-themes/purple-green.css';/*/


html, body { height: 100%; background-color: rgb(255, 241, 222);}


@font-face {
  font-family: 'MontReg';
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBlack';
  src: url('assets/fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontBold';
  src: url('assets/fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontSemiBold';
  src: url('assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
    font-family: 'MontSemiBold';
}





